<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["User"] != null)
                {
                    @Html.ActionLink("Taxi Service", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Taxi Service", "SignIn", "Login", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["User"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Home <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Home", "Home", "Home")</li>
                                <li>@Html.ActionLink("Search", "Search", "Home")</li>
                            </ul>
                        </li>
                        if (((ApplicationUser)Session["User"]).Role == Enums.UserRole.Dispatcher)
                        {
                            <li>@Html.ActionLink("Ride", "Create", "Ride")</li>
                            <li>@Html.ActionLink("Driver", "DriverCreate", "Driver")</li>
                        }
                        else
                        {
                            if (((ApplicationUser)Session["User"]).IsDriverBusy.Value)
                            {
                                <li>@Html.ActionLink("Ride", "Process", "Ride")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Vehicle", "Edit", "Vehicle")</li>
                                <li>@Html.ActionLink("Location", "Edit", "Location")</li>
                            }
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">@(((ApplicationUser)Session["User"]).Username) <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("UserProfile", "Edit", "UserProfile")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Sign Out", "SignOut", "Login")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
